.violation-ui {
    right: 20px;
    bottom: 70px;
    padding: 10px 10px;

    .violation-tabs {
        display: flex;
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
    }

    .tab-btn {
        flex: 1;
        padding: 5px;
        cursor: pointer;
        border: none;
        background: none;
        font-size: 12px;
        color: var(--sprotty-label-color);
    }

    .tab-btn.active {
        border-bottom: 2px solid #007acc;
        font-weight: bold;
    }

    .tab-pane {
        display: none;
        font-size: 13px;
        padding: 5px;
    }

    .tab-pane.active {
        display: block;
    }
}
